html, body {
    height: 100%;

}


body {
    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
    background: #0D1440  center 50%;

    font-family: 'Poor Story', cursive;

}
canvas {
    padding: 0;
}
.canvascard {    position: relative;
 display: flex;
    justify-content: center;
    align-items: center;

}
.canvascard::before {
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -2;
}
.canvascard::after {

    content: '';
    display: inline-block;

    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -2;
    filter: blur(40px);
}
.canvascard::before ,
.canvascard::after {
    background: linear-gradient(235deg,#1438A6,#BF1736,#1438A6);
}
 .jumbotron {
  background: #0D1440 !important;
     text-align: center;
     align-items: center;
     width: auto;
 }
    .input-group {

        box-sizing:content-box !important;
         width:100px !important;
         display: inline-flex;

  }
    .input-group .lbl {
        display: block!important;
        width: 100% !important;
    }
    .input-group #inputGroupSelect02 {
        display: block !important;
        width: 100% !important;
    }

    .controls {
        height: 180px;
    }

    .screen_touch {
        width: 200px;
        height: 200px;
    }

    h1 span {
        font-size: 50px;
        background: linear-gradient(
            270deg, #1438A6, #BF1736
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        top: 20px;
        display: inline-block;
        animation: bounce .3s ease infinite alternate;
    }

    h1 span:nth-child(2) { animation-delay: .1s; }
    h1 span:nth-child(3) { animation-delay: .2s; }
    h1 span:nth-child(4) { animation-delay: .3s; }
    h1 span:nth-child(5) { animation-delay: .4s; }
    h1 span:nth-child(6) { animation-delay: .5s; }
    h1 span:nth-child(7) { animation-delay: .6s; }
    h1 span:nth-child(8) { animation-delay: .7s; }

    .lead {
        color: rgb(220, 220, 220);
    }

    .jumbotron.Win {
        animation-name: vibration;
        animation-iteration-count: 10;
        animation-duration: 0.15s;
    }


body { overscroll-behavior: none }


@keyframes vibration {
    from {
      transform: rotate(1.5deg);
    }
    to {
      transform: rotate(-1.5deg);
    }
}
@keyframes bounce {
    100% {
      top: -20px;
    }
  }
@media (max-width: 768px)and (orientation: Portrait) {
    html {font-size:  calc(0.65em + 0.3vw) }

    .main_display{
        font-size: 30px;
    }
    .controls {
    width:  calc(15em + 12vw) ;
}
}
@media (max-width: 1024px)and (orientation: Landscape) {
    html {font-size:  calc(0.4em + 0.3vw) }
    .controls {
        width:  calc(10em + 10vw) ;
    }
    .main_display{
        font-size: 50px;
    }
    .wlcm{
        margin-top: 75px;
    }
    .input-group {

        width:90px !important;

    }
}
